/* 홈 화면 */
.main {
    width: 100%;
    height: calc(100vh - 160px);
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center ;
}
.loginFormBox {
    width: 500px;
    height: 300px;
    background: #fbf9f9;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    box-shadow: 0px 2px 20px 5px #dedddd;
}
.loginFormBox .loginForm {
    padding: 20px 30px;

}
.loginFormBox .loginForm .inputBox {
    width: 100%;
    height: 40px;
}

.mainBackgound{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background:url("../img/main.jpg") no-repeat center center / cover;
    opacity: 0.5;
    text-indent: -9999rem;
    z-index: -10;
}

/* 회원가입 폼 */
.registerForm {
    width: 30%;
    height: 450px;
    margin: 30px auto;
    padding: 10px 15px;
    background: #fbf9f9;
    border-radius: 10px;    
    z-index: 10;
    box-shadow: 0px 2px 20px 5px #dedddd
}
.registerForm .rowForm {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 20px 0;
    padding-left: 15px;
}

.registerForm .rowForm label {
    display: inline-block;
    width: 120px;
    padding: 8px 3px;
    background: #ccc;
}

.registerForm .rowForm input {
    display: inline-block;
    width: 65%;
    padding: 10px 0;
    border: 1px solid #ccc;
}

/* 도서 목록 */
.bookList {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.bookBorder{
    display: inline-block;
    width: 19%;
    padding: 10px 15px;
    margin-right: 1%;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.bookBorder:nth-child(5n) {
    margin-right: 0;
}

.bookBorder .bookContent .bookHeader .bookImg {
    border-bottom: 1px solid #ddd;
}

.bookBorder .bookContent .bookHeader .bookImg img {
    display: inline-block;
    width: 80%;
    margin: 0 0 10px 10%;
}

.bookBorder .bookContent .bookBody p {
    margin-bottom: 7px;
}

.bookBorder .bookContent .bookBody p:last-child {
    margin-bottom: 0;
}

.bookContent .bookTitle {
    font-size: 16px;
    font-weight: bold;
}

.bookContent .bookInfo {
    font-size: 12px;
    color: #444;
}

.bookContent .bookInfo .bookAuthor {
    position: relative;
    padding-right: 8px;
}

.bookContent .bookInfo .bookAuthor::before {
    display: block;
    position: absolute;
    top: 2px;
    right: 0;
    content: "";
    width: 1px;
    height: 13px;
    background: #ccc;
}

.bookContent .bookBody .bookPrice {
    font-size: 14px;
    color: #444;
}

/* 도서 상세 */
.detailWrap {
    display: flex;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
    justify-content: space-between;
}
.detailImg {
    width: 30%;
    text-align: center;
}
.detailImg img{
    width: 100%;
}
.detailInfo {
    width: 50%;
    padding-right: 30px;
}
.detailInfo .detailTitle {
    font-size: 21px;
    margin-bottom: 10px;
}
.detailInfo .deatilDescription {
    height: 100px;
    font-size: 14px;
    color: #888;
    margin-bottom: 5px;
    word-break: break-all;
    overflow: auto;
}
.detailInfo .detailAuthor {
    display: inline-block;
    position: relative;
    padding-right: 10px;
}
.detailInfo .detailAuthor::before {
    display: block;
    content: "";
    width: 1px;
    height: 15px;
    background: #aaa;
    position: absolute;
    top: 5px;
    right: 0;
}
.detailInfo .detailPublisher {
    display: inline-block;
}
.detailInfo .detailPrice {
    display: flex;
    align-items: center;
    margin: 5px 0 10px 0;
}
.detailInfo .detailPrice .originalPrice {
    font-size: 14px;
    color: #ccc;
    text-decoration: line-through;
}
.detailInfo .detailPrice .discountPrice {
    font-size: 18px;
    color: red;
}
.detailChoice {
    width: 20%;
}
.detailChoice .amount {
    padding: 5px 0;
    margin-bottom: 30px;
    position: relative;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
}
.detailChoice .amount button {
    position: absolute;
    width: 40px;
    height: 100%;
    background: none;
    color: #000;
    border: none;
}
.detailChoice .amount button:hover {
    background: #555;
    color: #fff;
}
.detailChoice .amount .minus {
    top: 0;
    left: 0;
    border-right: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}
.detailChoice .amount .plus {
    top: 0;
    right: 0;
    border-left: 1px solid #ccc;
    border-radius: 0 5px 5px 0;
}
.detailChoice .detailBtn a {
    display: inline-block;
    padding: 9px 20px;
    background: #587be3;
    color: #fff;
    text-align: center;
    border-radius: 5px;
}
/* 리뷰 */
.reviewWrap {
    display: flex;
    margin-top: 25px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.reviewWrap .subTitle {
    width: 100%;
    font-size: 18px;
}
.reviewWrap .reviewBox {
    width: 48%;
    margin-bottom: 10px;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.reviewWrap .reviewBox .reviewHeader{
    display: flex;
    margin-bottom: 10px;
    padding-bottom: 10px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid #eee;
}
.reviewWrap .reviewBox .reviewPoint {
    display: flex;
    justify-content: start;
    align-items: center;
}
.reviewWrap .reviewBox .reviewPoint img {
    width: 40px;
    height: auto;
    margin-right: 10px;
}
.reviewWrap .btnDeleteReview {
    display: inline-block;
    width: 25px;
}
.reviewWrap .btnDeleteReview img{
    width: 100%;
}

/* 리뷰 작성 팝업 */
.popUpWrap {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(170, 170, 170, 0.5);
}
.popUpWrap .popUp {
    width: 500px;
    height: 370px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}
.popUpWrap .popUpHeader{
    padding: 10px 0;
    background: #666adc;
    color: #fff;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.popUpWrap .popUpBody {
    padding: 10px 30px 10px 20px;
}
.popUpWrap .popUpBody .point {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    text-align: center;
}
.popUpWrap .popUpBody .point img{
    display: inline-block;
    width: 70px;
}
.popUpWrap .popUpBody .point img:hover{
    cursor: pointer;
}
.popUpWrap .popUpBody .content {
    width: 100%;
}
.popUpWrap .popUpBody .content textarea{
    width: 100%;
    margin-top: 20px;
    border: 1px solid #555;
}

/* 장바구니 */
.cartWrap .shoppingBtn {
    margin-top: 50px;
    text-align: center;
}